@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  text-decoration: none;
  color: white;
  cursor: default;
  z-index: 1;
}
nav {
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  background-color: rgb(14, 14, 14);
  width: 100%;
  height: 50px;
  z-index: 2;
}
body {
  background-color: black;
}
.logo {
  display: flex;
  padding: 40px;
  margin-right: auto;
}
.logo-img {
  width: 40px;
  height: 40px;
}
.logo-text {
  padding: 1px;
  cursor: default;
}
.logo-text-z {
  transition: 300ms;
}
.logo-text-z:hover {
  transition: 300ms;
  color: red;
}
.nav-text {
  align-items: center;
  justify-content: center;
}
.nav-text a {
  padding: 4px 15px;
  font-size: 19px;
  transition: 300ms;
  border-bottom: 1px solid rgb(14, 14, 14);
  cursor: pointer;
}
.nav-text a:hover {
  border-bottom: 1px solid white;
}
.preview-text {
  font-weight: 100;
  font-size: 28px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 80px 0px;
}
.a-logo {
  padding: 60px;
  margin: 0px 100px;
  font-weight: 100;
}
.whatis-info img {
  width: 50%;
  padding: 40px;
}
.whatis-info {
  display: flex;
  padding-bottom: 30px;
}
.whatis-info p {
  margin-top: 5%;
  text-align: left;
  font-size: 30px;
}
.howuse-info {
  display: flex;
  padding-bottom: 30px;
}
.howuse img {
  width: 500px;
  padding: 40px;
}
.howuse-info p {
  margin-top: 5%;
  text-align: left;
  font-size: 30px;
}
.in-logo {
  text-align: center;
}
.in-sublogo {
  padding: 0;
  text-align: center;
}
.in-buttons {
  padding: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.in-button {
  padding: 20px;
  display: flex;
}
.in-btn {
  font-family: Montserrat;
  background-color: black;
  border-radius: 10px;
  border: 1px white solid;
  width: 130px;
  height: 30px;
  transition: 200ms;
  cursor: pointer;
}
.in-btn:hover,
.in-btn:active {
  background-color: white;
  color: black;
}
.in-btn-p {
  text-align: center;
  border-bottom: 1px white solid;
  padding-bottom: 20px;
  width: 600px;
  margin-left: 28%;
}
.line {
  width: 100%;
  margin-top: 60px;
  border-bottom: 1px white solid;
}
.hidden {
  display: none;
}
.info-box {
  display: flex;
  align-items: center;
}
.info-box h2 {
  font-weight: 100;
  padding: 7px;
}
.info-boxes p {
  padding: 0px 12px;
  width: 700px;
  padding-bottom: 40px;
}
.history-img,
.hist-img {
  position: absolute;
  width: 100%;
  z-index: 0;
  margin-bottom: 750px;
}
.info-box-symbol-two,
.info-box-symbol-one {
  transition: 300ms;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}
.info-box-symbol-one-active {
  transition: 300ms;
  transform: rotate(0.25turn);
}
.info-box-symbol-two-active {
  transition: 300ms;
  transform: rotate(0.25turn);
}
.history-line {
  margin-top: 100px;
}
footer {
  padding: 50px;
}
footer * {
  font-weight: 100;
}
.btn-result {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  nav {
    display: inline-block;
    height: 70px;
  }
  .nav-text {
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
  }
  .nav-text a {
    display: flex;
    font-size: 15px;
  }
  .logo {
    padding: 0;
    margin: 4px 0px;
    display: flex;
    justify-content: center;
    font-size: 10px;
  }
  .logo-img {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
  }
  .logo-text {
    padding: 4px 0px;
  }
  .preview-text {
    font-weight: 100;
    font-size: 16px;
    padding: 80px 0px 20px 0px;
  }
  .a-logo {
    margin: 0;
    padding: 30px 20px;
    font-size: 18px;
    width: 100%;
  }
  .whatis-info img {
    padding: 0;
    height: 150px;
    width: 150px;
  }
  .whatis-info p {
    padding: 10px;
    font-size: 14px;
  }
  .howuse-info img {
    padding: 0;
    height: 150px;
    width: 150px;
  }
  .howuse-info p {
    padding: 10px;
    font-size: 14px;
  }
  .in-btn {
    width: 100px;
  }
  .in-buttons {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .in-btn-p {
    width: 350px;
    font-size: 13px;
    margin: 0;
  }
  .info-box {
    padding: 10px;
    font-size: 14px;
  }
  .info-box-text {
    display: flex;
    font-size: 12px;
    width: 300px;
    padding-left: 30px;
  }
  footer h1 {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  footer h3 {
    font-size: 10px;
  }
  footer {
    padding: 20px;
  }
  .hist-img {
    width: 97%;
    margin-top: 500px;
  }
}
@media screen and (max-width: 768px) {
  .preview-text {
    font-size: 20px;
  }
  .logo {
    margin-right: 150px;
    padding: 0;
  }
  .a-logo {
    font-size: 22px;
    padding: 40px;
    margin: 0;
  }
  .whatis-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .whatis-info img {
    width: 300px;
    height: 300px;
    padding: 10px;
  }
  .whatis-info p {
    font-size: 18px;
    text-align: center;
    display: flex;
    height: 280px;
  }
  .howuse-info img {
    width: 300px;
    height: 300px;
  }
  .howuse-info p {
    font-size: 18px;
  }
  .in-btn-p {
    width: 350px;
    font-size: 16px;
    margin: 0;
  }
  .info-box {
    padding: 10px;
  }
  .info-box-text {
    padding: 0px 10px;
  }
}
